/* src/App.css */

/* Estilos generales para los contenedores */
.join-container,
.chat-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.join-container {
  background-color: #f0f0f0;
}

.join-container h1,
.chat-container h1 {
  color: #ffffff;
}

.join-container div,
.chat-container div {
  margin-bottom: 10px;
}

.join-container input,
.chat-container input,
.join-container select {
  padding: 10px;
  margin: 5px;
  width: 200px;
}

.join-container button,
.chat-container button,
.create-room-button {
  padding: 10px;
  background-color: #3c0081;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.join-container button:hover,
.chat-container button:hover,
.create-room-button:hover {
  background-color: #000000;
}

/* Estilos específicos para el componente Chat.js */
.chat-container .chat-content {
  display: flex;
  width: 100%;
  max-width: 800px;
  margin-bottom: 20px; /* Agrega un poco de espacio entre el chat box y la lista de salas */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Agrega una sombra alrededor del chat box */
}

.chat-container .header {
  margin-bottom: 20px;
}

.chat-container {
  background: linear-gradient(45deg, #003366, #990099); /* Establece el color inicial del fondo */
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  animation: gradientAnimation 10s infinite; /* Cambia la duración según tus preferencias */
  background-size: 200% 200%; /* Añade esto para asegurarte de que el fondo se extienda más allá de la pantalla */
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


.room-list-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 20px;
}

.room-list {
  background-color: #333;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

.room-list h2 {
  margin: 0;
  font-size: 18px;
  color: #ffffff;
  text-transform: uppercase;
}

.room-list ul {
  list-style: none;
  padding: 0;
}

.room-list li {
  margin-bottom: 5px;
}

.room-list li a {
  color: #a200ff;
  text-decoration: none;
  transition: color 0.3s;
}

.room-list li a:hover {
  color: #cbb5f3;
}

.room-list button,
.create-room-button {
  margin-top: 10px;
  padding: 8px;
  background-color: #49bcc0;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.room-list button:hover,
.create-room-button:hover {
  background-color: #45a049;
}

.input-container {
  display: flex;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  background-color: #422c50;
  padding: 10px;
  border-radius: 5px;
}

.input-container input {
  flex: 1;
  padding: 8px;
  margin-right: 10px;
  border: none;
  border-radius: 3px;
}

.input-container button {
  padding: 8px;
  background-color: #3c0081;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.input-container button:hover {
  background-color: #000000;
}

.message-container {
  flex: 1;
  overflow-y: auto;
  margin-bottom: 20px;
  border: 1px solid #000000;
  padding: 10px;
  background-color: #5b5b5b;
  width: 50%;
  max-height: 70vh; /* Establece el tamaño máximo en viewport height (vh) */
  overflow-y: auto; /* Habilita el scroll vertical si es necesario */
  border-radius: 5px;
}
.message {
  background-color: #343536;
  color: white;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Añade sombra para profundidad */
  position: relative; /* Añade posición relativa para que podamos posicionar los botones absolutamente */
}

.message button {
  padding: 8px;
  background-color: #340649;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-left: 10px;
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.message button:hover {
  background-color: #000000;
}

.quote-reply {
  background-color: #4a3756; /* Color gris claro para el mensaje citado */
  color: #ffffff; /* Color de texto oscuro para que sea legible */
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}

/* Estilos para dispositivos móviles */
@media only screen and (max-width: 600px) {
  .chat-container {
    height: 100vh;
  }

  .chat-content {
    flex-direction: column;
    align-items: center;
  }

  .room-list-container {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .message-container {
    width: 90%;
  }

  .input-container {
    width: 90%;
  }
}

/* Estilos para tabletas */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .chat-container {
    height: 100vh;
  }

  .chat-content {
    flex-direction: column;
    align-items: center;
  }

  .room-list-container {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .message-container {
    width: 90%;
  }

  .input-container {
    width: 90%;
  }
}

.join-container {
  background: linear-gradient(45deg, #6a1b9a, #8e24aa, #7b1fa2, #4a148c);
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 400% 400%;
  }
}