body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Dentro del bloque de estilos para Chat.js */
.chat-container .message-container .message .username {
  color: #4caf50; /* Cambia el color del nombre de usuario según tus preferencias */
  font-weight: bold;
  margin-right: 5px; /* Espacio entre el nombre de usuario y el mensaje */
}
